
body{
    margin: 0;
    background-color:black ;
}

div{
    width:50%;
    margin-left: 25%;
    margin-top: 8%;
    text-align: center;
    color: white;
}

img{
    width: 100%;
    border: 5px solid white;   
}

h1{

    font-family: "Libre Baskerville", serif;
    text-align: center;
    text-transform: uppercase;
}

